/* Login.css */
.loginform {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/bg3.avif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  
  .login-form-container {
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  .formcontainer{
    padding: 10px;
    text-align: left;
  }

 /* Login.css */
.login-button {
    width: 100%;
    background-color:white;
    color:rgb(52 145 34); 
    border: 2px solid transparent;
   border-radius: 5%;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bolder;
  }
  
  .login-button:hover {
    background-color:rgb(52 145 34); 
    color: white;
    transition: 1s ;
    
  }
  
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .mt-3{
    text-align: center;
  }

  .mt-3 a {
    color:rgb(52 145 34); 
    text-decoration: none;
    font-weight: bold;
    text-align: center;
  }
  
  .mt-3 a:hover {
    text-decoration: underline;
  }
  